*.result
*.junit.xml

acker
arrays
brainfuck
cafs
chars
compress
copyfile
curry
e
fills
fsieve
functions
hamming
iks
infprimes
invperm
long_integers
lqueen
match
matchlarge
mulmat
nfib
parser
pascal
prolog
reals
reverse2
reversearray
reverse
revrec
revtwice
rfib
sieve
squeen
str_arit
strings
stwice
sudoku
symsieve
tak
twice
unboxed_arrays
war_seq
weird_types

CodeSharing
GraphTest
