*.result

acker
arrays
brainfuck
cafs
chars
compress
e
fsieve
functions
hamming
iks
infprimes
invperm
long_integers
lqueen
match
matchlarge
mulmat
nfib
parser
pascal
prolog
reals
reverse2
reversearray
reverse
revrec
revtwice
rfib
sieve
squeen
str_arit
stwice
sudoku
symsieve
tak
twice
unboxed_arrays
war_seq
weird_types
